*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #DDDDDD;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }